tensorflow==1.13.1
Keras==2.2.4
nltk==3.4
gensim==3.7.2
progressbar2==3.39.3
editdistance==0.5.3
scikit-learn==0.20.3
scipy==1.2.1
pandas==0.24.2
seaborn==0.9.0
Click==7.0
tabulate==0.8.3
pytorch
pyemd==0.5.1
transformers==2.7.0
mosestokenizer==1.0.0
truecase
torch
truecase